<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localConnection" connectionString="server=localhost;database=database" />
  </connectionStrings>
  <appSettings>
    <add key="organization" value="Epam"/>
  </appSettings>
  <person>
    <firstName> Alex </firstName>
    <secondName> Shovkolyas </secondName>
  </person>
</configuration>